[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb = {version="==4.1.1"}
configobj = {version="==5.0.9"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
