# Application configuration

[cloudio-db]
#  Access to cloudio database (not the official way) to access most recent data needed at
#  startup to initialize variables and attributes.
host = 'vleinfluxdb1.hevs.ch'
port = 8086
username = 'dcbus_ems'
password = 'I5WNVlHdq&uEUOnJ'
database-name = 'vleiot'
